@import url(../bower_components/fontawesome/css/font-awesome.css);

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
  font-family: "Source Code";
  src: url("../bower_components/topcoat/font/SourceCodePro-Regular.otf");
}

@font-face {
  font-family: "Source Code";
  src: url("../bower_components/topcoat/font/SourceCodePro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Code";
  src: url("../bower_components/topcoat/font/SourceCodePro-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Source Code";
  src: url("../bower_components/topcoat/font/SourceCodePro-Bold.otf");
  font-weight: 800;
}

@font-face {
    font-family: 'President';
    src: url('president-webfont.eot');
    src: url('president-webfont.eot?#iefix') format('embedded-opentype'),
         url('president-webfont.woff') format('woff'),
         url('president-webfont.ttf') format('truetype'),
         url('president-webfont.svg#presidentregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.commands-widget {
  display: table-cell;
}

.commands-widget-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.commands-widget-list-item {
  display: inline-block;
  padding: 0.2rem;
  font-size: smaller;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.echo {
    color: orange;
    font-weight: bolder;
}

.goto-suggestion-list {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  display: table;
  width: 100%;
}

.goto-no-suggestions {
  padding: 0 5px;
  color: #777;
}

.goto-suggestion {
  line-height: 1rem;
  font-size: 0.85em;
  clear: both;
  margin: 0.4rem 0;
  display: table-row;
}

.goto-suggestion-play {
  cursor: pointer;
  display: table-cell;
  padding: 2px;
}

.goto-suggestion-distance {
  color: #777;
  display: table-cell;
  text-align: right;
}

.goto-suggestion-caption {
  padding-left: 5px;
  display: table-cell;
}

.connection-form {
  line-height: 2.5rem;
}

.alertify-logs {
  min-width: 100px;
  max-width: 1000px;
  width: auto
}

.alertify-logs pre {
  font-size: smaller;
  margin: 0;
}

.popup-menu {
  color: black;
  position: absolute;
  left: 0;
  z-index: 10;
  border: 1px solid black;
  background-color: white;
  margin: 0;
  background-color: #999;
  border: 1px solid #aaa;
}

.popup-menu.up {
  bottom: 0;
}

.popup-menu.down {
  top: 0;
}

.popup-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Source Code", "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: 200;
  line-height: 19px;
}

.popup-menu-item a {
  text-decoration: none;
}

.popup-menu-item:hover {
  background-color: #ccc;
}

.popup-menu-item {
  white-space: nowrap;
  padding: 3px 4px;
}

.mxp-menu-icon {
    line-height: inherit;
    color: #777;

    position: absolute;
    right: -0.8em;
    font-size: 0.5em;
    top: -0.6em;
}

.mxp-send {
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}

/*
.mxp-send-menu > * {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
*/

/* text styles */

.bold { font-weight: 600; }
.dim { opacity: 0.6;}
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.blink {
    animation: blink 1s step-end infinite;
    -webkit-animation: blink 1s step-end infinite;
}
.fastblink {
    animation: blink 0.4s step-end infinite;
    -webkit-animation: blink 0.4s step-end infinite;
}
@keyframes blink {
    0% { visibility: hidden; }
    50% { visibility: visible; }
}
@-webkit-keyframes blink {
    0% { visibility: hidden; }
    50% { visibility: visible; }
}
.inverted { background-color: #ccc; color: black;}
.conceal { visibility: hidden; }
.strikethrough { text-decoration: line-through; }
.doubleunderline {
    text-decoration: underline;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.normal { color: inherit; }
.framed { border-width: 1px; border-style: solid; }
.overlined { border-top-width: 1px; border-top-style: solid; }
