html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

hr {
    border: none;
    border-top: 1px solid #444;
}

.connection-title {
    display: none;
}

.container {
    display: table;
}

.ct-wrap {
    display: table-cell;
    vertical-align: top;
}

#page > .ct-wrap {
    display: block;
}

.ct-row {
    display: table-row;
    vertical-align: top;
}

.widget {
    display: table-cell;
    vertical-align: top;

    min-width: 240px;
    padding: 10px 10px 0 10px;
}


.widget-body {
    padding: 5px;
    /*padding: 5px 5px 0 5px;*/
    min-height: 30px;
}

.widget input,
.widget button
 {
    width: 100%;
    min-height: 1.68rem;
}

.widget > small {
    color: #ccc;
    margin-left: 4px;
}

#page {
    width: 100%;
    height: 100%;
}

a, a:visited, a:link, a:active {
    color: inherit;
}

.fill {
    width: 100%;
}

.content-overlay {
    display: none;
}

.content-wrap {
    display: table-cell;
    width: 100%;
    height: 100%;

    background-color: #222;
    border: 1px solid #333434;
    border-radius: 4px;
    box-shadow: inset 0 1px rgba(0,0,0,0.05);

    font-family: "Source Code", "Courier New", Courier, monospace;
    font-size: 13px;
    font-weight: 200;
    line-height: 19px;

    letter-spacing: 0;
}

.mxp-menu-icon {
    color: #c6c8c8;
}

.content-scroll {
    width: 100%;
    height: 100%;
    position: relative;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

    color: #a6a8a8;
    border-color: #c6c8c8;

    padding: 5px;
    min-width: 200px;
    min-height: 200px;
}

.current-room {
    color: #c6c8c8;
}

.content.fixed {
    top: inherit;
}

.solidBackground { background-color: #222; }

.inverted { background-color: #c6c8c8 ; color: #222; }

.content-wrap.fight {
    animation: fight 1s step-end infinite;
    -webkit-animation: fight 1s step-end infinite;
}

@keyframes fight {
    0% { border-color: #900; }
    50% { border-color: #e00; }
}

@-webkit-keyframes fight {
    0% { border-color: #900; }
    50% { border-color: #e00; }
}

.row {
    padding: 0;
    margin: 0;
    white-space: pre;
}

.hidden {
    display: none;
}

.version {
    font-size: small;
    margin-bottom: 1rem;
    color: #ccc;
}

.sidebar {
    padding: 10px;
}
    

.map-room {
    fill: #ccc;
    stroke: #333;
    border-radius: 2px;
}

.map-room.current {
    fill: #cfc;
}

.map-room-icon {
    text-anchor: middle;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
}

.notsupported {
   text-align: center;
   padding-top: 10%; 
   color: #ccc;
}

a.notsupported-forcelink {
    color: #888;
}

.fill {
    width: 100%;
    height: 100%;
}
